.upload {
  opacity: 0.75;
  border: 2px solid rgb(182, 182, 182);
  border-radius: 15px;
  background-color: rgb(241, 240, 240);
  font-weight: 500;
}

.load-file {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.header {
  padding-left: 15px;
}

table {
  width: 100%;
  font-weight: 500;
}

input {
  outline: 0;
}

button {
  outline: 0;
}

.inputs {
  text-align: center;
  padding-left: 20px;
}

.column-one {
  padding-top: 38px;
  padding-right: 5px;
}

.header-row{
  background-color: rgba(18, 54, 54, 0.24);
  font-weight: 900;
}
