.button_signin {
    margin-top: 1px;
    margin-left: 15px;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbar {
  background-color: rgba(18, 54, 54, 0.24);
}

nav {
  height: 60px;
}
