<nav class="navbar navbar-dark justify-content-between">
  <div>
    <a class="navbar-brand">Words</a>
    <div>
      <span>{{teamname}}</span>
    </div>
  </div>
  <form class="form-inline">
    <div *ngIf="isLoggedIn; else loggedOut">
      <button mat-raised-button (click)="logout()" class="button_signin btn-l">Logout</button>
    </div>
    <ng-template #loggedOut>
      <form class="form-inline" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div>
          <mat-form-field class="login-full-width">
            <input matInput [(ngModel)]="form.username" placeholder="Введите email" name="username"
                   #username="ngModel" required="true"/>
            <mat-hint *ngIf="f.submitted && username.invalid">
              <mat-hint *ngIf="username.errors.required">Необходимо ввести email</mat-hint>
            </mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="login-full-width">
            <input type="password" matInput [(ngModel)]="form.password" #password="ngModel"
                   placeholder="Введите пароль" name="password" required="true" minlength="6"/>
            <mat-hint *ngIf="f.submitted && password.invalid">
              <mat-hint *ngIf="password.errors.required">Нобходимо ввести пароль</mat-hint>
              <mat-hint *ngIf="password.errors.minlength">Пароль должен быть не менее 6 символов</mat-hint>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="">
          <mat-card-actions>
            <button mat-raised-button class="button_signin">sing in</button>
          </mat-card-actions>
        </div>
      </form>
    <!--  <button  mat-raised-button class="button_signup" routerLink="signup">sign up</button>-->
    </ng-template>
  </form>
</nav>
