<div *ngIf="isLogged">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"><button mat-menu-item routerLink="personal">
          <span>{{element.name}}</span></button></td>
      </ng-container>

      <ng-container matColumnDef="price" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
  <div *ngIf="!isLogged">
    <h1 style="text-align: center; color: #936d33;">Please authorise</h1>
  </div>
