table {
    width: 100%;
  opacity: 75%;
  font-weight: 500;
}
.table-width {
    width: 100%;
}
.table-container {
    height: 400px;
    overflow: auto;
    min-height: 200px;
}

.header-row{
  background-color: rgba(18, 54, 54, 0.24);
  font-weight: 900;
  opacity: revert;
}

.search {
    padding-bottom: 10px;
}
