.upload {
  margin-left: 1px;
  margin-right: 1px;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 15px;
    height: 115px;
    background-color: rgb(241, 240, 240);
  opacity: 75%;
}
.load-file {
    padding-left: 20px;
}

.upload-button{
  padding-left: 5px;
  padding-top: -20px;
}

.input-group {
  padding-left: 10px;
}

.table-words {
    padding-top: 10px;
  opacity: 75%;
}

mat-form-field {
  padding-left: 10px;
}

.add-word {
  border: 2px solid rgb(182, 182, 182);
  border-radius: 15px;
  background-color: rgb(241, 240, 240);
}

input {
  outline: 0;
}

button {
  outline: 0;
}

.inputs {
  padding-top: 20px;
}

.flex-container {
  padding-left: 5px;
}

.example-form-field {
 margin-top: -20px;
}
