.container {
    font-weight: 800;
  }
  
  .dropdown-cust {
    margin-right: 25px;
  }
  
  .load-word {
    border: 2px solid rgb(182, 182, 182);
    border-radius: 15px;
    background-color: rgb(241, 240, 240);
    padding-top: 50px;
    opacity: 0.75;
  }
  
  mat-header-row {
    font-weight: 600;
  }
  
  .jumbotron {
    height: 170px;
  }
  
  .col-8 {
    text-align: center;
  }
  
  .button {
    margin-bottom: 2px;
  }
  
  table {
    width: 100%;
    font-weight: 500;
    opacity: 0.75;
  }
  
  .give {
    margin-top: 3px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    opacity: 0.75;
  }
  
  .col-9 {
    padding-top: 20px;
  }
  
  mat-header-cell {
    text-align: center;
  }
  
  .col {
    padding-top: 20px;
    text-align: center;
  }
  
  .header-row{
    background-color: rgba(18, 54, 54, 0.24);
    font-weight: 900;
  }
  
  .timer {
    display: block;
    text-align: center;
    color: #ff0000;
    font-size: 80px;
    padding-top: 15px;
  }
  
  .table-container {
    height: 300px;
    overflow: auto;
    min-height: 200px;
  }
  
  .text-money {
    color: #ffe609;
    font-size: 45px;
  }
  
  .pause-button {
    display: block;
    margin-top: 30px;
    margin-left: 31%;
    text-align: center;
    color: #ff0000;
  }
  
  .play-button {
    display: block;
    margin-top: 30px;
    margin-left: 5px;
    text-align: center;
    color: #ff0000;
  }
  
  .column {
    width: 50px;
    position: relative;
  }
  