.container {
  font-weight: 800;
}

.dropdown-cust {
  margin-right: 25px;
}

.load-word {
  border: 2px solid rgb(182, 182, 182);
  border-radius: 15px;
  background-color: rgb(241, 240, 240);
  padding-top: 50px;
  opacity: 75%;
}

mat-header-row {
  font-weight: 600;
}

button {
  opacity: 150%;
}

.jumbotron {
  height: 170px;
}

.col-9 {
  text-align: center;
}

.button {
  margin-bottom: 2px;
}

table {
  width: 100%;
  opacity: 75%;
  font-weight: 500;
}

.give {
  margin-top: 3px;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.col-9 {
  padding-top: 20px;
}

mat-header-cell {
  text-align: center;
}

.col {
  padding-top: 20px;
  text-align: center;
}

.header-row{
  background-color: rgba(18, 54, 54, 0.24);
  font-weight: 900;
}

